# Ignora archivos de configuración locales
.env
*.iml
.idea/
*.log

# Ignora dependencias locales (pero .mvn/ SÍ se necesita para el wrapper de Maven)
target/
.settings/

# Ignora control de versiones y sistema de build
.git/
.gitignore
docker-compose.override.yml
Dockerfile*

# Ignora archivos temporales
*.swp
*~